<ng-container *ngIf="translations$ | async as t">
  <mat-tab-group class="card-1 table" animationDuration="200ms">

    <mat-tab label="{{ t['Categories'] }}">

      <div class="card-wrapper">

        <div class="card-filter">
          <span class="title">{{ t['Categories'] }}</span>

          <div class="actions">


              <div class="Segmented-1">
                <button type="button" class="all" [class.active]="typeFilter === null" (click)="setType(null)">
                 <span class="label default">{{ t['All'] }} </span>
                </button>

                <button type="button" class="Expense" [class.active]="typeFilter === 'E'" (click)="setType('E')">
                  <span class="label EXPENSE"> {{ t['Expense'] }}</span>
                </button>

                <button type="button" class="income" [class.active]="typeFilter === 'I'" (click)="setType('I')">
                <span class="label INCOME">{{ t['Income'] }} </span>
                </button>

                <button type="button" class="investment" [class.active]="typeFilter === 'V'" (click)="setType('V')">
                  <span class="label INVESTMENT"> {{ t['Investment'] }}</span>
                </button>

              </div>



            <div class="search-box-1">
              <mat-icon style="margin-top: 7px;" class="search-icon">search</mat-icon>
              <input type="text" [placeholder]="t['Search']" (input)="onSearchCategories($event)" />
            </div>

            <button mat-flat-button color="primary" (click)="OpenModalCategory()">
              <mat-icon>add</mat-icon>
              {{ t['AddCategory'] }}
            </button>

            <button mat-raised-button color="warn" (click)="addSubcategory()">
              <mat-icon>delete</mat-icon>
              {{ t['Delete'] }} {{ t['Categories'] }}
            </button>
          </div>
        </div>

        <div class="table-wrapper-1">

          <table mat-table [dataSource]="categoriesFilterDataSource" class="table-table">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;">
                <mat-checkbox
                  [checked]="isAllSelected('category')"
                  [indeterminate]="isSomeSelected('category')"
                  (change)="masterToggle($event, 'category')"
                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [checked]="selectionCategories.isSelected(row)"
                  (change)="toggleRow(row, 'category')"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th style="width: 60%;" mat-header-cell *matHeaderCellDef>{{ t['Description'] }}</th>
              <td mat-cell *matCellDef="let row">{{ row.description }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th style="width: 20%;" mat-header-cell *matHeaderCellDef>{{ t['Type'] }}</th>
              <td mat-cell *matCellDef="let row">
                <span class="badge" [ngClass]="row.codTypeTransaction">
                  {{ getTypeLabel(row.codTypeTransaction, t) }}
                </span>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="actions">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef>{{ t['Actions'] }}</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="actions">

              <th style="width: 10%;" mat-header-cell *matHeaderCellDef></th>

              <td mat-cell *matCellDef="let row" class="action-cell">
                <div class="action-buttons-1">
                  <button type="button" class="icon-btn edit" (click)="OpenModalCategory(row)">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button type="button" class="icon-btn delete" (click)="deleteCategory(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>

            </ng-container>


            <tr mat-header-row *matHeaderRowDef="categoryColumns" class="table-header"></tr>
            <tr mat-row *matRowDef="let row; columns: categoryColumns" class="table-row"></tr>
          </table>
        </div>

        <mat-paginator [length]="7" [pageSize]="7" [hidePageSize]="true"></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="{{ t['Subcategories'] }}">

      <div class="card-wrapper">

        <div class="card-filter">
          <span class="title">{{ t['Subcategories'] }}</span>

          <div class="actions">

            <div class="select-1">
              <select [(ngModel)]="subcategoryFilter" (change)="applyFilters()">
                <option value="">Todas categorias</option>

                <option *ngFor="let c of categories" [value]="c.id">
                  {{ c.description }}
                </option>
              </select>
            </div>

            <div class="search-box-1">
              <mat-icon style="margin-top: 7px;" class="search-icon">search</mat-icon>
              <input type="text" [placeholder]="t['Search']" (input)="onSearchCategories($event)" />
            </div>

            <button mat-stroked-button color="primary" (click)="addSubcategory()">
              <mat-icon>add</mat-icon>
              {{ t['AddSubcategory'] }}
            </button>

            <button mat-stroked-button color="warn" (click)="addSubcategory()">
              <mat-icon>delete</mat-icon>
              {{ t['Delete'] }} {{ t['Categories'] }}
            </button>
          </div>
        </div>

        <div class="table-wrapper-1">
          <table mat-table [dataSource]="subcategories" class="table-table">

            <ng-container matColumnDef="select">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef>
                <mat-checkbox></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th style="width: 50%;" mat-header-cell *matHeaderCellDef>
                {{ t['Description'] }}
              </th>

              <td mat-cell *matCellDef="let row">
                {{ row.description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th style="width: 30%;" mat-header-cell *matHeaderCellDef>
                {{ t['Category'] }}
              </th>

              <td mat-cell *matCellDef="let row">
                {{ row.category }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef></th>

              <td mat-cell *matCellDef="let row" class="action-cell">
                <div class="action-buttons-1">
                  <button type="button" class="icon-btn edit">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button type="button" class="icon-btn delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="subcategoryColumns" sticky></tr>
            <tr mat-row *matRowDef="let row; columns: subcategoryColumns"></tr>

          </table>
        </div>

        <mat-paginator [length]="6" [pageSize]="6" hidePageSize></mat-paginator>
      </div>
    </mat-tab>

    <mat-tab label="{{ t['PaymentMethods'] }}">

      <div class="card-wrapper">

        <div class="card-filter">
          <span class="title">{{ t['PaymentMethods'] }}</span>

          <button mat-flat-button color="primary" (click)="addPaymentMethod()">
            <mat-icon>add</mat-icon>
            {{ t['AddPaymentMethod'] }}
          </button>
        </div>

        <div class="table-wrapper-1">

          <table mat-table [dataSource]="paymentMethods" class="table-table">
            <ng-container matColumnDef="select">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef>
                <mat-checkbox></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th style="width: 80%;" mat-header-cell *matHeaderCellDef>{{ t['Description'] }}</th>
              <td mat-cell *matCellDef="let row">{{ row.description }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th style="width: 10%;" mat-header-cell *matHeaderCellDef></th>

              <td mat-cell *matCellDef="let row" class="action-cell">
                <div class="action-buttons-1">
                  <button type="button" class="icon-btn edit">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button type="button" class="icon-btn delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>

            </ng-container>


            <tr mat-header-row *matHeaderRowDef="paymentColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: paymentColumns"></tr>
          </table>

        </div>

        <mat-paginator [length]="4" [pageSize]="4" hidePageSize></mat-paginator>
      </div>
    </mat-tab>

  </mat-tab-group>
</ng-container>
