<ng-container *ngIf="translations$ | async as t">

<header class="header-layout-component">
  <button class="btn-circle-1" (click)="toggle.emit()">
    <mat-icon class="icon">
      {{ collapsed ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
  </button>

  <div class="actions">
    <app-notification-bell></app-notification-bell>
    <app-mission-bell></app-mission-bell>
    <button
      *ngIf="user$ | async"
      class="avatar-btn"
      (click)="goToProfile()"
      matTooltip="{{ t['Profile'] }}"
      matTooltipPosition="below"
    >
      <app-avatar-circular [size]="32" [rankTier]="rankTier$ | async"></app-avatar-circular>
    </button>
    <button (click)="logout()" class="logout-btn" matTooltip="{{ t['Logout'] }}" matTooltipPosition="below">
      <mat-icon>logout</mat-icon>
    </button>

    <span>PT | BR</span>


  </div>
</header>

</ng-container>
