<ng-container *ngIf="translations$ | async as t">

<header class="header-layout-component">
  <button class="btn-circle-1" (click)="toggle.emit()">
    <mat-icon class="icon">
      {{ collapsed ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
  </button>

  <div class="actions">
    <mat-icon>notifications</mat-icon>
    <!-- <mat-icon>account_circle</mat-icon> -->
    <button (click)="logout()" class="logout-btn" matTooltip="{{ t['Logout'] }}" matTooltipPosition="below">
      <mat-icon>logout</mat-icon>
    </button>

    <span>PT | BR</span>
  </div>
</header>

</ng-container>
